.project-header{
text-align: center;
margin-top: 3rem;
h1{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: $text-light;
}
}

.project{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    padding: 0 2rem;

    img{
        border-radius: 2rem;
    }

    div{
        margin-top: 3rem;

        h2{
            font-size: 2rem;
            margin-top: 1rem;
        }

        p{
            margin: 1.5rem 0;
        }

        button{
            background-color: transparent;
            border: none;
            border: 1px solid $primary;
            padding: 0.5rem;

            a{
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}

.github{
    text-align: center;
    margin-top: 4rem;

    p{
        font-size: 2rem;
        color: $text-light;
        margin-bottom: 2rem;
    }

    button{
        background-color: transparent;
        border: none;
        border: 1px solid $primary;
        padding: 1rem 2rem;

        a{
            color: white;
            font-size: 1.5rem;

            i{
                margin-right: 0.5rem;
            }
        }
    }
}